html {
	overflow: hidden;
}

body {
	background-color: #ffffff;
}

#header {
	position: absolute;
	display: inline-block;
	height: 40px;
	width: 100%;
	text-align: center;
}

#face {
	height: 300px;
	width: 300px;
	border-radius: 1%;
	position: absolute;
	top: 40%;
	left: 40%;
	position: absolute;
	
}

ul {
	position: relative;
	display: block;
	text-decoration: none; 
	color: #000000;
	text-align: center;
	width: 100%;
}

li {
	display: inline-block;
	font-family: Gill Sans;
	padding: 20px;
}

li a {
	text-decoration: none;
}

li a:visited {
	text-decoration: none;
	color: #000000;
}

h1 {
	font-family: Gill Sans;
	color: #000000;
	text-align: center;
	font-weight: lighter;
	font-size: 48px;
	position: absolute;
	letter-spacing: 20px;
	top: 15%;
	left: 30%;
}

#tag {
	color: #000000;
	font-family: Gill Sans;
	text-align: center;
	font-weight: lighter;
	padding: 0;
	position: absolute;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 7px;
	top: 25%;
	left: 35%;
}

#tagtwo {
	color: #000000;
	font-family: Gill Sans;
	text-align: center;
	font-weight: medium;
	position: absolute;
	top: 85%;
	left: 45%;
	font-size: 16px;
}

#footer {
	position: fixed;
	background-color: #f0f0f0;
	text-align: center;
	height: 40px;
	width: 100%;
	bottom: 0%;
	display: inline-block;
	opacity: 0.6;
}

#footer p a {
	text-decoration: none;
	color: #000000;
}

#footer p a:visited {
	color: #000000;
	text-decoration: none;
}

.social {
	text-color: #000000;
	position: absolute;
	left: 50%
}

.phone {
	position: absolute;
	left: 75%
}

.econtact {
	position: absolute;
	left: 25%
}
