html {
	background-image: url('https://cloud.githubusercontent.com/assets/5511212/17387787/5c7d74cc-59bc-11e6-845b-8fd7f705e46a.JPG');
	background-size: 98%;
	background-repeat: no-repeat;
	background-position: center right;
	height: 100%;
	overflow: wrap;
}

body {
	font-family: Gills Sans, sans-serif;
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 48px;
	color: #000000;
	letter-spacing: 20px;
	font-weight: lighter;
	/*position: absolute;
	margin-left: 2%;*/
}

h3 {
	font-size: 12px;
	color: #000000;
	letter-spacing: 8px;
	font-weight: lighter;
	/*position: absolute;
	margin-left: 2%;
	margin-top: 7%;*/
}

.main {
	text-align: left;
}

.content {
	text-align: left;
	width: 75%;
	padding: 10px;
	font-family: Helvetica;
	position: absolute;
	left: 0;
	overflow: auto;
}


/*.nav {
	color: #000000;
	margin: 0 auto;
	text-decoration: none;
	font-family: sans-serif;
	top: 150px;
	left: 150px;
	float: left;
	position: relative;
}

ul {
	list-style-type: none;
}

li {
	padding: 20px;
}*/

a {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #d98c8c;
}

a.links {
	color: #d98c8c;
}

#tagtwo {
	color: #000000;
	font-family: Gills Sans;
	letter-spacing: 2.5px;
	/*position: absolute;
	margin-left: 2%;
	margin-top: 9%;*/
}

/*.footer {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	height: 20px;
	margin: 0 auto;
}*/

.footer {
	position: fixed;
	height: 2em;
	width: 100%;
	bottom: 0;
	left: 0;
}

#social {
	display: inline;
}

/*#phone {
	display: inline;
}*/

#econtact {
	display: inline;
}
