html {
  overflow: wrap;
  background-image: url('https://cloud.githubusercontent.com/assets/5511212/17387787/5c7d74cc-59bc-11e6-845b-8fd7f705e46a.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
  font-weight: bold;
}

.heading {
  text-align: center;
}

p {
  margin: 0;
}

bold {
  font-weight: bold;
}

a:visited {
  color: gray;
}

a:hover {
  color: #d98c8c;
}

a {
  color: #000000;
  text-decoration: none;
}
